*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

li{
    list-style: none;

}

a{
    text-decoration: none;
   
}

body{
    background-color: #2a2a72;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.users{
    width: 100%;
    max-width: 800px;
}

input{
    width: 100%;
    display: block;
    background-color: #4c2885;
    border-radius: 10px;
    color: #fff;
    padding: 1.2rem;
    font-family: inherit;
    border:none;
    outline: none;
    font-size: 1.1rem;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(0, 0, 0, 0.1);
    letter-spacing:2px


}

input::placeholder {
    color: rgb(196, 195, 195);
    font-size: 1.1rem;
    letter-spacing:2px

}


.card {
    display: none; 
  }

.avatar{
    border-radius: 50%;
    border: 10px solid #2a2a72;
    height: 150px;
    width: 150px;
}

.user-info{
    color: #eee;
    margin-left: 2rem;
}
.user-name{
    letter-spacing: 1px;
    font-weight: 400;
}

.user-info ul{
    display: flex;
    justify-content: space-between;
    padding: 0;
    max-width: 400px;
    gap: 50px;
}

.user-info p{
  margin: 25px 0px;
  line-height: 25px;
  font-size:18px ;
  
}
.user-bio{
    font-weight: 300;
}
.repo{
    text-decoration: none;
    color: #fff;
    background-color: #212a72;
    font-size: 0.8em;
    padding: 0.25rem 0.5rem;
    display: inline-block;
    margin-top: 20px;
}

@media(max-width:768px){
    .card{
        padding: 1rem;
        display: flex;
        flex-direction: column;

    }
    .users{
        width: 90%;
    }
    .user-info{
        margin: 0;
    }
    .user-name{
        margin-top: 15px;
    }
    
}

